[package]
name = "ttrpg_bot"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.100"
dotenv = "0.15.0"
poise = "0.6.1"
rand = "0.9.2"
tokio = { version = "1.48.0", features = ["macros", "rt-multi-thread"] }
