name: Build and Deploy

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Build (Compile)
        run: cargo build --release --locked

      - name: Copy binary to server (SCP)
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "target/release/ttrpg_bot"
          target: "~/documents/projects/ttrpg-bot/"

      - name: Restart the service (SSH)
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            chmod +x /home/ubuntu/documents/projects/ttrpg-bot/ttrpg_bot
            sudo systemctl restart ttrpg-bot.service
            sudo systemctl status ttrpg-bot.service